* {
    box-sizing: border-box;
}

:root {
    --bg-main-color: rgb(12 12 12 / 1);
    --fg-main-color: rgb(225 225 225 / 1);
    --shadow: rgb(63 63 63 / 1);
    --link-colors:rgb(247 186 186 / 1);
    --link-colors-hover:rgb(231 94 94 / 1);
}

body {
    margin: 0px;
    font-family: 'segoe ui';

}

a {
    text-decoration: none;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-main-color);
    color: var(--fg-main-color);
}

.container {
    max-width: 1280px;
}

.nav {
    height: 50px;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.nav-btn {
    text-decoration: solid;
    text-decoration-color: var(--fg-main-color);
    font-size: medium;
}

.nav-title {
    text-decoration: none;
    color: var(--fg-main-color);


}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    text-size-adjust: 10%;
    text-decoration: solid;
}



.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: var(--fg-main-color);
}

.nav>.nav-links>a:hover {
    color: var(--link-colors-hover);
}

.nav>#nav-check {
    display: none;
}

h3 {
    font-family: 'Times New Roman';
    font-style: italic;
    text-align: center;
    /* font-weight: 800; */
}

ul li {
    list-style-type: square; /* 使用方块作为标记 */
    /* color: rgb(64, 198, 228);  */
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

#header {
    height: auto;
    width: 100%;
    height: 56vh;
    border-radius: 30px;
    margin: auto;
    padding: inherit;
    background: url(../hactober.jpg) no-repeat 45% 45%;
    background-size: cover;
    overflow: auto;
    box-shadow: 0 0 0 2px var(--shadow);
}


h2 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ol {
    font-size: 30px;
    font-family: cursive;
}

@media screen and (max-width:700px) {
    h2 {
        font-size: 30px;
    }

    ol {
        font-size: 15px;
    }

}

#footer {

    background-color: var(--bg-main-color);
    color: var(--fg-main-color);
    height: fit-content;
    display: block;
    height: 100%;
}
#footer footer{
    margin: 3rem 0 0 ;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.links {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
}

.link-inner {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;

}

.link-inner a {
    color: var(--link-colors);
    text-decoration-style: solid;
    font-size: 80%;
    text-align: center;
}
.link-inner a:hover{
    color: var(--link-colors-hover);
}